/* .wrapper{
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    
} */

.searchbar{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    margin-right: 3px;
}

.searchButton{
    color:black;
    background-color: rgb(144, 239, 195);
    border-radius: 10px;
    padding: 5px

}
.recipeGrid{
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: auto;
        margin-right: 10px;
    }
      

    